
#converted  {
   text: "Salida"
   font-weight: bold;
   font-size:larger;
   height:10%;
}

table + iframe {
   margin: 10%;
}

span[temp="cold"] {
   color: #729DC8;
}

span[temp="warm"] {
   color: #5CBA0F;
}

span[temp="hot"] {
   color: #bA1124;
}

iframe.frame-pruebas {
   width:75%;
   height: 30%;
   background-color: white;
   align: center;
}

input {
   text-align: center;       /* Align input to the right  */
   border: none;
   border-radius: 5px 5px 5px 5px;
   padding: 5px  5px;
   font-size:large;
   font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

html
{
   background-image: "./img/fondo.jpg"
  background-repeat: no-repeat;
  min-height:100%;
  background-size:cover
}

body {
   text-align: center;
   font-size:large;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

table {
    width:75%;
    margin: auto;
}

th, td      {
   vertical-align: top;
   text-align: center;
   font-size:large;
   color: #7A7A7A;
   padding: 15px  15px;
}

h1 {
      font-weight: large;
      font-family: "Georgia", bold;
      background: ;
      padding: 5px 15px;
      color: #CECECE;
      display:inline-block;
      border-radius: 5px 5px 5px 5px;
}
